[tool.poetry]
name = "snakefmt"
version = "0.1.0"
description = "The uncompromising Snakemake code formatter"
authors = ["Michael Hall <michael@mbh.sh>", "Brice Letcher <bletcher@ebi.ac.uk>"]
license = "MIT"
readme = "README.md"
#homepage = ""  # todo
#repository = ""  # todo
#documentation = ""  # todo
keywords = ["snakemake", "formatter", "code", "codeformatter", "workflow-management"]

[tool.poetry.scripts]
snakefmt = 'snakefmt.snakefmt:main'

[tool.poetry.dependencies]
python = "^3.6"
click = "^7.0"
black = {version = "^19.10b0", allow-prereleases = true}
snakemake = "^5.10.0"
toml = "^0.10.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pre-commit = "^2.1.1"
isort = {extras = ["pyproject"], version = "^4.3.21"}
mypy = "^0.770"

[tool.poetry.urls]
"Snakemake Documentation" = "https://snakemake.readthedocs.io/"
"Snakemake Repository" = "https://github.com/snakemake/snakemake"

[tool.black]
line-length = 88
target-version = ['py37']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.isort]
line_length = 88
multi_line_output = 3
include_trailing_comma = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

